.group:hover .group-hover\:bg-blue-100\/50 {
  background-color: rgb(187 222 251 / 0.5);
}
.group:hover .group-hover\:bg-blue-300\/50 {
  background-color: rgb(100 181 246 / 0.5);
}
.bg-blue-300 {
  background-color: rgb(100 181 246);
}
.bg-blue-100 {
  background-color: rgb(187 222 251);
}
